# A little bit about databases


### What is a database exactly? 

To put it simply, it's a computer program which stores various data. 

There are quite a few database vendors, e.g., Oracle, MySQL, SQL Server, and many others but we'll focus on the PostgreSQL database. 

Chances are some of these names already sound familiar to you – after all, databases can be found literally everywhere!

There are various types of databases. In this course, we're going to focus on relational databases – they're a very frequent choice in the contemporary IT world.

### Tables

Every relational database stores information in tables. 

You can have many tables in one database and each of your tables will hold data which refers to similar objects. Each table has a name so you can find out what kind of information is stored there.

For example, the database of your university would include a table named `student` with all data regarding students, another table `subject` with information on the subjects at your university, etc.



### Columns and rows

Tables in databases look exactly the way you would imagine a normal table – they have columns and rows.

Columns in every table have their names and they identify the kind of information is stored in them.

### SQL

So, how do we get in touch with our database? We use the so-called Structured Query Language. Of course, no one uses the full name, we just call it SQL for short.

All relational databases understand SQL, but each of them has a slightly different dialect, so to speak. In this course, you will learn the version of SQL used by the PostgreSQL database.


### Queries

The instructions that we'll learn in this course are called queries. 

Just as the name suggests, queries are questions that we ask to find out some information about the data stored in the database.

Databases can do amazing things – they don't only return the data you ask for, they can actually do advanced calculations on the tables. 

You'll see for yourself!

We'll start with very simple instructions and we'll introduce new things one by one. 

By the end of this course, you'll be able to write fairly complex queries.

We're going to be using `DB Fiddle` for this course. 

Navigate to: https://www.db-fiddle.com/

In the top right corner of the webpage, be sure to select `Database: PostgreSQL 13`

Now, in the `Schema SQL` pane on the left copy and paste the following:

```
CREATE TABLE "car" (
    "vin" TEXT,
    "brand" TEXT,
    "model" TEXT,
    "price" NUMERIC,
    "production_year" INT
);
INSERT INTO "car" VALUES
    ('LJCPCBLCX14500264','Ford','Focus',8000,2005),
    ('WPOZZZ79ZTS372128','Ford','Fusion',12500,2008),
    ('JF1BR93D7BG498281','Toyota','Avensis',11300,1999),
    ('KLATF08Y1VB363636','Volkswagen','Golf',3270,1992),
    ('1M8GDM9AXKP042788','Volkswagen','Golf',13000,2010),
    ('1HGCM82633A004352','Volkswagen','Jetta',6420,2003),
    ('1G1YZ23J9P5800003','Fiat','Punto',5700,1999),
    ('GS723HDSAK2399002','Opel','Corsa',null,2007);



```

We're going to be using this table scheme for the next few examples


# Selecting data from one table

Today we will only be working with one table, and selecting data from it.

## Get all data

It's time to run your first SQL query! 

As you remember, the data in a database are stored in tables.

You can see all data in the user table with this query:

```
SELECT *
FROM cars;
```

SELECT tells your database that you want to select data. FROM user tells the database to select data from the user table.

Finally, the asterisk (*) tells the database that you want to see all columns in this table.

Remember that it is a good practice to always end your SQL command with a semicolon (;). 

A semicolon is like a period at the end of the sentence. It tells the database that you're done with your command. Our platform accepts your query submissions both with and without a semicolon, so you can leave it out completely in this course.

Go ahead and select all rows by typing the query into the `Query SQL` pane. Hit `CTRL-Enter` on your keyboard to execute the query.


As you can see, the car table has 5 columns:

- `vin` – short for vehicle identification number
- `brand`
- `model`
- `price`
- `production_year`

The names of the columns are at the top of the result.

## Select one column

What if you don't want to select all columns from a table?

No problem. 

Go ahead and select the `brand` from the `cars` table

### Show me the answer

Click the three dots below

In [ ]:
SELECT brand
FROM car;

### Select many columns

Great! 

If you want to get a couple of columns, give the names of the desired columns before the FROM clause.

Select model and price from the `cars` table.
```
SELECT
  model,
  price
FROM car;
```


### Select only a few rows

Our table is quite small, so if we wanted to get some information about Volkswagens, we could select all rows and just ignore the extra few which contain other brands. 

But what if our table consisted of thousands of rows?

We can use a `WHERE` clause and some condition to help us retreive rows that only meet some particular condition.

Suppose we wanted to select all columns for those cars which were produced in 1999 (use the `production_year` column).


```
SELECT *
FROM car
WHERE production_year = 1999;
```

Go ahead and select all cars that are of the Ford brand

### Show me the answer

Click the three dots below

```
SELECT *
FROM cars
WHERE brand = 'Ford';
```

## Conditional operators

Besides the equality sign (`=`), there are also some other conditional operators which you can use. Look at the next example.

```
SELECT *
FROM car
WHERE price < 10000;
```


Instead of the equality sign (`=`), we used the less than sign (`<`). Now our instruction selects all columns for all cars with price less than 10,000.

We can apply several operators in the same way:

- `<` (less than),
- `>` (greater than),
- `<=` (less than or equal),
- `>=` (greater than or equal).


Now let's find all cars that greater than 10,000

#### Show me the answer
Click the three dots below

```
SELECT *
FROM car
WHERE price > 10000;
```

## The not equal sign (!=)

There is one more very important conditional operator, the inequality sign (!= or sometimes <>). Look at the example:

```
SELECT *
FROM car
WHERE production_year != 1999;
```

Now find all cars that are not the Ford brand


#### Show me the answers
(Click the three dots below)

```
SELECT *
FROM car
WHERE brand != 'Ford';
```

### Conditional operators and selecting columns

Let's combine what we know about conditional operators with selecting specific columns.


As an exercise, I want you all to select the brand, model and production_year columns of all cars cheaper than or equal to 11,300.

#### Show me the answer
(Click the three dots below)

```
SELECT
  brand,
  model,
  production_year
FROM car
WHERE price <= 11300;
```

### Logical operators – OR

Up until now, we were able to filter the rows in the previous examples using conditional operators (`=`, `!=`, `<`, `>`, `<=`, `>=`). 

But what about situations when we want to be really picky and join a few conditions?
We can use the `OR` clause which allows us to join more conditions.

A row is displayed when the first condition or the second condition is true. Note that if both conditions are true, the row is also displayed.

As an exercise, I want you to Select `vin`s of all cars which were produced before 2005 or whose price is below 10,000.


#### Show me the answer
(Click the three dots below)

```
SELECT vin
FROM car
WHERE production_year < 2005
  OR price < 10000;
```

### Logical operators – AND


`OR` isn't the only logical operator out there. `AND` is another logical operator.

In order for a row to be displayed in a query, both conditions must be fulfilled to retrieve a particular row.

Go ahead and Select `vin`s of all cars which were produced after 1999 and are cheaper than 7,000.

#### Show me the answer
(Click three dots below)

```
SELECT vin
FROM car
WHERE production_year > 1999
  AND price < 7000;
```

### The BETWEEN operator

If we wanted to select the `vin`, `brand`, and `model` columns of all cars which were produced between 1995 and 2005.

We could do it this way:

```
SELECT
  vin,
  brand,
  model
FROM car
WHERE production_year > 1995 AND 
      production_year < 2005;

```

But there is also another way of writing the example above. Take a look:

```
SELECT
  vin,
  brand,
  model
FROM car
WHERE production_year BETWEEN 1995 AND 2005;
```

Now go ahead and select the `brand` and `model` of all cars that have `price` between 3000 and 11000

### Show me the answer
(click the three dots below)

```
SELECT
  brand,
  model
FROM car
WHERE price BETWEEN 3000 AND 11000;
```

## Logical operators – NOT

There is one more logical operator worth mentioning: NOT. Basically speaking, whatever is stated after NOT will be negated:

For example if we want to select the `vin`, `brand`, and `model` columns of all cars except for those produced between 1995 and 2005.

We can do the following query

```
SELECT
  vin,
  brand,
  model
FROM car
WHERE production_year NOT BETWEEN 1995 AND 2005.
```

Now go ahead and select the `brand` and `model` of all cars that have `price` NOT between 3000 and 11000

### Show me the answer
(click the three buttons below)


```
SELECT
  brand,
  model
FROM car
WHERE price BETWEEN 3000 AND 11000;
```

### Join even more conditions

We can include even more conditions by using parentheses, according to our needs. 

Pretend we had a users table, right. If we want to find only those users who are above 70 years old or below 13 and who are at least 180 cm tall, we can use the following expression:

```
SELECT id, name
FROM user
WHERE (age > 70 OR age < 13)
  AND height >= 180;
```

As an exercise, I'd like you to Select the `vin` of all cars which were produced before 1999 or after 2005 and whose price is lower than 4,000 or greater than 10,000.

### Show me the answer
(click the three dots below)

```
SELECT vin
FROM car
WHERE (production_year < 1999 OR production_year > 2005)
  AND (price < 4000 OR price > 10000);
```

### Use text


Until now, we only worked with numbers in our `WHERE` clauses. 

Is it possible to use letters instead? 

Of course it is!

Just remember to put your text in single quotes like this: 'example'.

Again, let's pretend we had a user table.  If you wanted to know the age of all Smiths in your table, you could use the following code:

```
SELECT age
FROM user
WHERE name = 'Smith';
```

Note that the case of the letters matters, i.e., 'Smith' is different than 'SMITH'

Go ahead and select all columns for all Ford cars from the car table.

### Show me the answer
(click the three dots below)

```
SELECT *
FROM car
WHERE brand = 'Ford';
```

## The LIKE operator and the % sign


Now, what happens if we don't know precisely what letters we're looking for? With text values, you can always use the LIKE operator instead of the equality sign.

What change does it make? Well, take a look at the following example:

Suppose we wanted to select the vin, brand, and model columns for all cars whose brand begins with an F.

```
SELECT
  vin,
  brand,
  model
FROM car
WHERE brand LIKE 'F%';
```

`LIKE` allows for the use of the percentage sign (`%`). The percentage sign applied in the example matches any number (zero or more) of unknown characters.


As a result, we'll obtain all brands whose name begins with the letter 'F'. We may not remember the exact name, but we know it begins with an F and that's enough. 

Convenient, isn't it?

The percentage sign (`%`) can be put anywhere between the single quotes and as many times as it's necessary.

Remember that the percentage sign (%) can also match zero characters, so the name can also begin or end with whatever letter you're interetsed in.

To see it in action, go ahead and select the vin columns for all cars whose model ends with an "s".

### Show me the answer
(click the three dots below)

```
SELECT vin
FROM car
WHERE model LIKE '%s';
```

## The underscore sign (_)

Now, sometimes we may not remember just one letter of a specific name. 

Let's go back to the imaginary user table we were talking about earlier.  Imagine we want to find a user whose name is... Catherine? Katherine?

```
SELECT *
FROM user
WHERE name LIKE '_atherine';
```

The underscore sign (`_`) matches exactly one character. Whether it's Catherine or Katherine – the expression will return a row.

As an exercise, select all columns for cars which brand matches 'Volk_wagen'.

```
SELECT *
FROM car
WHERE brand LIKE 'Volk_wagen';
```

## Dealing with NULL

In every row, there can be NULL values, i.e. fields with unknown, missing values. Remember the Opel from our table with its missing price? This is exactly a NULL value. We simply don't know the price.

To check whether a column has a value, we use a special instruction `IS NOT NULL`.


Select all columns for each car whose price column isn't a `NULL` value.

```
SELECT *
FROM car
WHERE price IS NOT NULL;
```

Remember, `NULL` is a special value. 

You can't use the equal sign to check whether something is `NULL`. 

It simply won't work. The opposite of `IS NOT NULL` is `IS NULL`.

Now, as an exercise select all columns for each car whose price column has a NULL value.

```
SELECT *
FROM car
WHERE price IS NULL;
```

### Comparisons with NULL


Remember, `NULL` is a special value. It means that some piece of information is missing or unknown.

If you set a condition on a particular column, say `age < 70`, the rows where the `age` column has a `NULL` value will always be excluded from the results. 

Let's check that in practice.

In no way does `NULL` equal zero. What's more, the expression `NULL = NULL` is never true in SQL!


As exercise, select all columns for cars whose price column is greater than or equal to zero.

Note: that the Opel with an unknown price is not in the result.

#### Show me the answer

```
SELECT *
FROM car
WHERE price >= 0;
```

### Basic mathematical operators


We may now move on to our next problem: simple mathematics. Can you add or multiply numbers in SQL? 

Yes, you can! Take a look at the example:

```
SELECT *
FROM user
WHERE (monthly_salary * 12) > 50000;
```

In the above example, we multiply the monthly salary by 12 to get the annual salary by using the asterisk (*). We may then do whatever we want with the new value – in this case, we compare it with 50,000.

In this way, you can add (`+`), subtract (`-`), multiply (`*`) and divide (`/`) numbers.

As an exercise:

Select all columns for cars with a tax amount over 2000.  The tax amount for all cars is 20% of their price.  Multiply the price by 0.2 to get the tax amount.

### Show me the answer

```
SELECT *
FROM car
WHERE (price * 0.2) > 2000;
```

# Put it all together

Now let's put together all the information we've learned so far. Let's imagine a customer who walks in and wants to know if we have any cars that meet his needs.

### Exercise:

Select all columns of those cars that:

- were produced between 1999 and 2005,
- are not Volkswagens,
- have a model that begins with either 'P' or 'F',
- have their price set.


## Show me the answer

```
SELECT *
FROM car
WHERE production_year BETWEEN 1999 AND 2005
  AND brand != 'Volkswagen'
  AND (model LIKE 'P%' OR model LIKE 'F%')
  AND price IS NOT NULL;
```