Today, We're going to get familiarized with PostgreSQL's date and time functions. 

Both beginners and more advanced users will find something useful here!

We're gonna cover the following topics:
- Dealing with dates
- Working with time
- Date and time data types in PostgresSQL
- Extracting dates and times


We're going to be using `DB Fiddle` for this course. 

Navigate to: https://www.db-fiddle.com/

In the top right corner of the webpage, be sure to select `Database: PostgreSQL 13`

Now, in the `Schema SQL` pane on the left copy and paste the following, or just click this link here: https://www.db-fiddle.com/f/9hh1sKDrTkgxKV4U6VX7h5/0



```
CREATE TABLE IF NOT EXISTS "route" (
    "code" TEXT,
    "from_airport" TEXT,
    "to_airport" TEXT,
    "distance" INT,
    "departure_time" time,
    "arrival_time" time
);
INSERT INTO "route" VALUES
    ('PA2342','FRA','WAW',558,'07:55:00','09:30:00'),
    ('PA8793','MAD','NRT',6701,'13:20:00','04:35:00'),
    ('PA5643','GLA','DUB',185,'21:50:00','22:50:00'),
    ('PA8744','WMI','CRL',710,'10:25:00','12:15:00'),
    ('PA2134','KEF','GDN',1564,'21:25:00','00:55:00'),
    ('PA3424','BLQ','MAD',807,'08:00:00','10:45:00'),
    ('PA7155','JFK','CDG',5847,'11:05:00','18:35:00'),
    ('PA6851','LHR','PRY',8949,'16:55:00','11:35:00'),
    ('PA3425','ARN','SXF',810,'14:15:00','15:50:00'),
    ('PA1269','FCO','CDG',1100,'18:05:00','20:15:00'),
    ('PA7653','VCE','FCO',550,'19:20:00','20:40:00'),
    ('PA4097','ZRH','MUC',240,'23:15:00','23:55:00'),
    ('PA8542','FRA','NRT',9300,'02:10:00','13:45:00'),
    ('PA9073','WAW','LHR',1445,'05:00:00','08:15:00');
    
    
CREATE TABLE IF NOT EXISTS "aircraft" (
    "id" INT,
    "model" TEXT,
    "produced_date" TIMESTAMP,
    "registration_timestamp" TIMESTAMP,
    "launched_timestamp" TIMESTAMP,
    "withdrawn_timestamp" TIMESTAMP
);
INSERT INTO "aircraft" VALUES
    (1,'Airbus A321-200','2014-04-05 00:00:00','2014-04-15 00:00:00','2014-06-10 07:55:00',null),
    (2,'Airbus A333-300','2014-01-03 00:00:00','2014-01-13 00:00:00','2015-01-01 13:19:00',null),
    (3,'Boeing 737-800','2010-03-01 00:00:00','2010-03-11 00:00:00','2010-04-01 21:58:00','2015-10-14 20:00:00'),
    (4,'Airbus A320','2008-04-06 00:00:00','2008-04-09 00:00:00','2014-01-01 21:19:00',null),
    (5,'Boeing 737-800','2009-12-31 00:00:00','2009-12-31 00:00:00','2012-01-01 10:14:00','2016-08-01 09:30:00'),
    (6,'Airbus A320','2009-04-13 00:00:00','2009-04-19 00:00:00','2014-01-05 21:38:00','2013-01-05 21:38:00'),
    (7,'Boeing 787-10','2011-01-01 00:00:00','2011-02-01 00:00:00','2011-11-17 11:17:00',null),
    (8,'Boeing 777-300','1993-08-26 00:00:00','1993-08-30 00:00:00','2015-12-31 22:13:00','2016-10-15 12:52:00'),
    (9,'Airbus A300-600','2013-01-01 00:00:00','2013-01-11 00:00:00','2014-02-23 06:53:00','2015-10-14 00:19:00'),
    (10,'Airbus A380-900','2007-10-25 00:00:00','2007-11-29 00:00:00','2014-12-31 15:15:00',null),
    (11,'Embraer 170','2012-12-31 00:00:00','2013-01-12 00:00:00','2013-01-01 16:52:00',null),
    (12,'Vision SF50','2015-01-01 00:00:00','2015-02-01 00:00:00','2016-01-01 09:31:00',null),
    (13,'Airbus A320','2016-06-06 00:00:00','2016-07-01 00:00:00','2016-08-28 10:35:00',null),
    (14,'Embraer 170','2016-08-10 00:00:00','2016-09-05 00:00:00','2016-09-20 16:23:00',null),
    (15,'Boeing 777-800','2010-03-01 00:00:00','2010-04-08 00:00:00','2012-01-01 10:14:00',null);

CREATE TABLE IF NOT EXISTS "flight" (
    "id" INT,
    "route_code" TEXT,
    "aircraft_id" INT,
    "flight_date" DATE,
    "delay" INT
);
INSERT INTO "flight" VALUES
    (1,'PA2342',1,'2016-04-03',0),
    (2,'PA2342',1,'2016-01-01',15),
    (3,'PA8793',2,'2015-07-11',-13),
    (4,'PA5643',3,'2014-12-31',5),
    (5,'PA5643',3,'2015-08-13',0),
    (6,'PA5643',3,'2015-08-14',35),
    (7,'PA5643',3,'2016-01-01',8),
    (8,'PA8744',3,'2016-01-20',0),
    (9,'PA8744',3,'2016-02-21',-25),
    (10,'PA2134',4,'2015-10-10',-10),
    (11,'PA2134',4,'2015-08-14',16),
    (12,'PA2342',5,'2015-12-30',4),
    (13,'PA7155',7,'2016-06-08',20),
    (14,'PA6851',7,'2015-12-31',5),
    (15,'PA8744',9,'2015-08-31',30),
    (16,'PA5643',8,'2015-01-01',0),
    (17,'PA6851',10,'2016-02-26',-5),
    (18,'PA8793',10,'2016-04-03',45),
    (19,'PA3425',1,'2016-04-09',20),
    (20,'PA1269',2,'2016-08-11',5);
```

# The DATE data type

As you saw, dates are shown in the following format, which is the recommended PostgreSQL format:

`YYYY-MM-DD`

First we have the year, then the month, and finally the day.

In PostgreSQL, the date data type is the default way to store date information. 

This data type has a range of `4713-01-01 BC` to `5874897-12-31 AD`. If we want to use dates in our queries, we need to enclose them with single quotes, like this:

```
SELECT
  id,
  model
FROM aircraft
WHERE produced_date = '2014-04-05';
```

This query will return the id and model for all aircraft produced on April 5, 2014.

## Exercise
Select the following columns: id, route_code, delay and flight_date for flights made on January 1, 2016 or April 3, 2016.

```
SELECT
  id,
  route_code,
  delay,
  flight_date
FROM flight
WHERE flight_date = '2016-01-01'
  OR  flight_date = '2016-04-03';
```

# Using comparison operators with dates

It is also quite easy to use dates with other comparison operators. 

Take a look at the following example:

```
SELECT
  id,
  model,
  produced_date
FROM aircraft
WHERE produced_date > '2010-12-31';
```

In PostgreSQL, a date that is "greater than" (>) 2010-12-31 means "all the dates after December 31, 2010" (i.e., from 2011-01-01 to today). Similarly, the "less than" sign (<) will show all dates before the given date.

# Exercise
Select the id, route_code, and flight_date columns for all flights after December 31, 2014.

```
SELECT
  id,
  route_code,
  flight_date
FROM flight
WHERE flight_date > '2014-12-31';
```

# Using BETWEEN with dates

You can also use the `BETWEEN` operator to return certain dates. 

In this way, you can select a range of dates. 

The following query selects information based on production dates for the year 2010:

```
SELECT
  id,
  model,
  produced_date
FROM aircraft
WHERE produced_date BETWEEN '2010-01-01'
  AND '2010-12-31';
```

This will find all the aircraft produced between January 1, 2010 and December 31, 2010, including the starting and ending dates.

## Exercise

Select the id and flight_date of all flights which did not take place in 2015.

```
SELECT id, flight_date
FROM flight
WHERE flight_date NOT BETWEEN '2015-01-01' AND '2015-12-31';
```

# Dates with ORDER BY

You can also sort rows by date using ORDER BY:

```
SELECT
  id,
  model,
  produced_date
FROM aircraft
WHERE produced_date BETWEEN '2009-01-01'
AND '2010-12-31'
ORDER BY produced_date;
```

As usual, you can define the sort order by adding `ASC` (the default sort order) or `DESC` at the end of the ORDER BY clause.

## Exercise

Show the ID and date of all flights in 2015, so the most recent flights are first.

```
SELECT id, flight_date
FROM flight
WHERE flight_date BETWEEN '2015-01-01' AND '2015-12-31'
ORDER BY flight_date DESC;
```

# Dates â€“ exercise

Okay, let's try a more complicated exercise.

## Exercise

For every aircraft produced in 2010, show its ID, production date, and the route codes for all the distinct routes it flies.

```
SELECT DISTINCT
  aircraft.id,
  produced_date,
  route_code
FROM aircraft
JOIN flight
  ON aircraft.id = flight.aircraft_id
WHERE produced_date BETWEEN '2010-01-01' AND '2010-12-31';
```

# Time in SQL

Our database can also store time data. At PerfectAir time columns are used in the route table to store planned departure and arrival times.

Let's see how time is represented in the database.

```
SELECT departure_time
FROM route;
```


## The TIME data type

PostgreSQL uses the time data type to store time data. Its range is `00:00:00` to `24:00:00` and for time with time zone from `00:00:00+1459` to `24:00:00-1459`. 

Time in PostgreSQL can contain also the number of fractional seconds. As you saw, the format for this data type is:

`HH:MM:SS.n`

Breaking this down, we see that:

- `HH` stands for hours.
- `MM` stands for minutes. Each minute is represented by two digits from 00 to 59.
- `SS` stands for seconds. Each second is represented by two digits from 00 to 59.
- `.n` stands for the number of fractional seconds. This optional value can range from 0 to 6 digits. By default, its value is 0.


So we have the time data type. Notice that time uses a 24-hour clock, so write 14:25 for 2:25 PM.

The precision of time depends on the database designer; in our database, we use the default zero precision.

Specifying a value in a column of time type requires you to put the value in single quotes:

```
SELECT
  code,
  departure_time
FROM route
WHERE arrival_time = '20:15:00';
```

## Exercise
Show the code for the PerfectAir route arriving at 9:30 AM.

```
SELECT code
FROM route
WHERE arrival_time = '09:30:00';
```

## Using BETWEEN with time data

You can also use BETWEEN with time data:

```
SELECT
  code,
  departure_time
FROM route
WHERE arrival_time BETWEEN '12:00:00'
  AND '15:00:00';
``` 
  
Remember that BETWEEN is inclusive in the above query, routes that depart at 12:00 AM or 3:00 PM will be included in the results.

## Exercise

Show the codes for all routes departing between 11:00 AM and 5:00 PM.

```
SELECT code
FROM route
WHERE departure_time BETWEEN '11:00:00' AND '17:00:00';
```

# Comparing dates and times using operators

Well done! You can use the following operators to compare time data:

- `<` less than.
- `>` greater than.
- `<=` less than or equal to.
- `>=`greater than or equal to.

Look at this query:

```
SELECT
  code,
  arrival_time
FROM route
WHERE arrival_time >= '12:00:00'
  AND arrival_time <= '15:00:00';
```

It displays the codes and arrival times only for routes where the arrival time is at least `12:00:00` and not after `15:00:00`.

## Exercise

Show the code and departure time for all routes where the departure time is later than `14:00:00` but earlier than `23:00:00`.

```
SELECT code,
  departure_time
FROM route
WHERE departure_time < '23:00:00'
  AND departure_time > '14:00:00';
```

# Sorting by TIME columns

Good! You can also sort results by time:

```
SELECT
  code,
  arrival_time
FROM route
ORDER BY arrival_time DESC;
```
Have you noticed that time and date data work very similarly?

## Exercise

Show the code and arrival_time of all routes that arrive before 4:00 PM. Order them by arrival time, with the earliest time first.

```
SELECT code,
  arrival_time
FROM route
WHERE arrival_time < '16:00:00'
ORDER BY arrival_time;
```

# Exercise
Show the average distance of all routes departing after 8:00 AM. Name the column avg_distance.

```
SELECT AVG(distance) AS avg_distance
FROM route
WHERE departure_time > '08:00:00';
```

# Date and time

Apart from just the date or time, PostgreSQL databases can also store dates with exact times, meaning both the date and the time. Let's see what this data looks like.

## Exercise

Select the launched_timestamp and registration_timestamp columns from the aircraft table.

Note how the date and time data is displayed.

```
SELECT
  launched_timestamp,
  registration_timestamp
FROM aircraft;
```

# Date and time data types in PostgreSQL

Good! Did you notice the format? Here it is again:

`2014-06-10 07:55:00.125`

Let's analyze it. 

In PostgreSQL the date and time data type is timestamp. It contains both date and time parts. 

The first part is the date and the second part is the time, reported to fractions of a second. 

The fractional value in both date and time data types, if given, must be in the range of 0 to 6 digits. The default precision for these data types is 6 digits.

The supported range in timestamp is '4713-01-01 BC' to '294276-12-31 AD'.

Note that the upper value for timestamp is different than for date (which is '5874897-12-31 AD').

timestamp can also contain time zone:

`2018-05-23 07:55:12.534211+02`

The '+02' refers to the timezone â€“ in this case it means that we are two hours ahead of UTC. Time zone is optional. The timestamp data type without time zone stores date and time in the local time of the database server (in our database it is UTC).

Now, let's look at a query:

```
SELECT id
FROM aircraft
WHERE withdrawn_timestamp < launched_timestamp;
```

The above query checks for typos in our table; we can make sure no aircraft was removed from service before it was launched.

# Exercise
Run the example query and find out for yourself if there are errors in the aircraft table.

```
SELECT id
FROM aircraft
WHERE withdrawn_timestamp < launched_timestamp;
```

# Using date and time with constant values


The timestamp data type is very precise in defining a point in time. T

his is why using the equal sign (=) with this data type isn't a good idea. 

Two of these values may differ by a single nanosecond, which means the equality condition wouldn't be satisfied.

Nevertheless, you can use comparisons (e.g., >, <, !=, etc.) with timestamp data. 

This will work when you're comparing two columns or when you're comparing one column against a constant value.

Do we have to be precise when providing a constant value? Not really. Take a look:

```
SELECT id,
  launched_timestamp
FROM aircraft
WHERE launched_timestamp > '2015-01-01';
```

As you can see, we compared a timestamp with a simple date. 

How is this possible? 

Well, our database converted the date we provided to a timestamp by adding as many zeros as necessary. For instance, `2015-01-01` will become `2015-01-01 00:00:00` and `2014-02-12 12:00` will become `2014-02-12 12:00:00`. 

Convenient, isn't it?


## Exercise
Find the ID number and withdrawn date for all aircraft discontinued after October 14, 2015.

```
SELECT
  id,
  withdrawn_timestamp
FROM aircraft
WHERE withdrawn_timestamp >= '2015-10-15';
```

# Using operators to compare timestamps

Well done! Next, let's see what kind of operators we can use to compare timestamp data. This query ...

```
SELECT
  id,
  registration_timestamp
FROM aircraft
WHERE registration_timestamp >= '2010-01-01';
  AND registration_timestamp <  '2016-01-01'
```

... displays the ID of aircraft where the registration date is within the years 2010 â€“ 2015. Briefly, these are the operators you can use with date and time data:

- `<`  less than.
- `>` greater than.
- `<=` less than or equal to.
- `>=` greater than or equal to.

Remember that because of the high precision of timestamp data, it's a bad idea to use an equality operator (`=`).

# Exercise

Show the id and launched_timestamp columns for aircraft where the launched_timestamp is more than `2010-12-31 23:00:00` and less than `2015-01-01 12:00:00`.

```
SELECT
  id,
  launched_timestamp
FROM aircraft
WHERE launched_timestamp > '2010-12-31 23:00:00'
  AND launched_timestamp < '2015-01-01 12:00:00';
```

# Sorting timestamp data

Excellent! The last thing you should know about timestamp data is that you can sort with ORDER BY:

```
SELECT id, registration_timestamp
FROM aircraft
ORDER BY registration_timestamp;
```


# Exercise

Show the id and launched_timestamp data for all aircraft launched in 2013 or 2014. Sort by launched_timestamp, going from the newest dates to the oldest.

```
SELECT
  id,
  launched_timestamp
FROM aircraft
WHERE launched_timestamp >= '2013-01-01'
  AND launched_timestamp < '2015-01-01'
ORDER BY launched_timestamp DESC;
```

# Exercise

For each aircraft, show its ID number (as aircraft_id) and calculate the average distance covered on all its routes, and name it avg_distance. Only show data for aircraft that were launched before January 1, 2014, and took more than one flight.

```
SELECT
  aircraft_id,
  AVG(distance) AS avg_distance
FROM flight
JOIN route
  ON flight.route_code = route.code
JOIN aircraft a
  ON a.id = aircraft_id
WHERE launched_timestamp < '2014-01-01'
GROUP BY aircraft_id
HAVING COUNT(flight.id) > 1;
```

# The DATE_PART() function

Now, let's see how we can manipulate dates, times, and timestamps. PostgreSQL provides a special function:

`DATE_PART(part, source)`

Here `part` is one of the following: `day`, `month`, `year`, `hour`, `minute`, `second`, etc. 

And source is one of the date and time data types.

Take a look:

```
SELECT DATE_PART('year', launched_timestamp) AS year
FROM aircraft
ORDER BY year;
```

The above query will extract the year from the column launched_timestamp for each aircraft and will show it in ascending order.

## Exercise

For each aircraft show the id, the withdrawn_timestamp column and the withdrawn_month column (extracted month from the withdrawn_timestamp column).

# DATE_PART() â€“ example

How can we use this function? For instance, we can use it to change the way dates are shown. 

Take a look:

```
SELECT
  DATE_PART('day', launched_timestamp)
    || '-'
    || DATE_PART('month', launched_timestamp)
    || '-'
    || DATE_PART('year', launched_timestamp)
    AS launched_date
FROM aircraft;
```

As a result, we get dates like `10-03-2012` instead of `2012-03-10`. 

However PostgreSQL implements various functions to work with time and date to format them. We will meet these functions in the next section of the course.


## Exercise

For each route, show its code and the departure time in the following format: `hh.mm`, where `hh` is the hour and `mm` minutes. Name this new column `departure_hour_minute`.

```
SELECT
  code,
  DATE_PART('hour' , departure_time) || '.' || DATE_PART('minute' , departure_time)
AS departure_hour_minute
FROM route;
```

# DATE_PART() with the wrong data type

You may wonder what happens when you try to extract a field which is not present in the given type. Is it possible to extract a year from a time column? Let's find out.

```
SELECT DATE_PART('year',  arrival_time) AS year
FROM route;
```

# DATE_PART() with the wrong data type â€“ continued

Error! 

That's what you got, as you probably expected. 

It's not possible to extract part of date from a time column... But it's possible to extract a field of time from a date column. It will just provide a zero. Let's give it a try.

## Exercise

For each flight, show its id, flight_date, and month extracted from the flight_date column as the month column.

```
SELECT
  id,
  flight_date,
  DATE_PART('month', flight_date) AS month
FROM flight;
```

# The EXTRACT() function

Now observe that similar to the `DATE_PART()` function is `EXTRACT()`, which gets a the part of the date and time. 

Here's the syntax:

`EXTRACT(part FROM source)`

`part` is one part of the date and time like: `second`, `minute`, `hour`, `day`, `month`, `year`, etc. source is date and time (timestamp). 

As you noticed, this function requires the keyword `FROM` between part and source.

The query below returns the year of the produced_date of the aircraft:

```
SELECT EXTRACT(year FROM produced_date) AS produced_year
FROM aircraft;
```

## Exercise

For each route show its code and the hour of the departure time (as departure_hour)

```
SELECT
  code,
  EXTRACT(hour FROM departure_time) AS departure_hour
FROM route;
```

# The DATE_TRUNC() function

Let's learn how to display the date truncated to the given part of the date and time. 

We'll need a new function:

`DATE_TRUNC(field, source)`

The `source` argument is timestamp or interval, and the `field` string argument indicates precision to truncate the input date or time. 

The field can contain these values: millisecond, second, minute, hour, day, week, month, quarter, year, etc.

```
SELECT
  produced_date,
  DATE_TRUNC('year', produced_date) AS truncated_produced_date
FROM aircraft
WHERE id = 1;
```

Notice that produced_date is truncated to the first day of the year. 

Only the year comes from the date, the remaining parts are changed to ones or zeros, as appropriate.


The DATE_TRUNC() function comes in handy when calculating yearly, monthly, weekly, and similar aggregates. Look at the query below:

```
SELECT
  DATE_TRUNC('month', produced_date) AS trunc_produced_date,
  COUNT(id) AS aircraft
FROM aircraft
GROUP BY trunc_produced_date;
```

This query displays produced_date truncated to year and month, and the number of aircraft produced during this time. For example, in the output there are two aircraft produced in March 2010.

# Exercise

Let's find out how many aircraft were withdrawn in each week. In the first column show withdrawn_timestamp truncated to week (name the column week), and in the second show the count as withdrawn_count. Show this summary only for withdrawn aircraft.

```
SELECT
  DATE_TRUNC('week', withdrawn_timestamp) AS week,
  COUNT(id) AS withdrawn_count
FROM aircraft
WHERE withdrawn_timestamp IS NOT NULL
GROUP BY 1;
```

# Homework

## Exercise
For all routes departing between 9:00 AM and 3:00 PM, show the route and both airport codes.

```
SELECT
  code,
  from_airport,
  to_airport
FROM route
WHERE departure_time BETWEEN '09:00:00' AND '15:00:00';
```

# Exercise
For all flights that took place on July 11, 2015, show the departure and arrival airport, and the aircraft's model info.

```
SELECT
  from_airport,
  to_airport,
  model
FROM route
JOIN flight
  ON route.code = flight.route_code
JOIN aircraft
  ON flight.aircraft_id = aircraft.id
WHERE flight_date = '2015-07-11';
```

# Exercise

Calculate the average delay for all flights taking place in August (for all available years). Name the column avg_delay.

```
SELECT AVG(delay) AS avg_delay
FROM flight
WHERE DATE_PART('month', flight_date) = '08';
```

## Exercise

Find yearly delay averages. Show two columns: year extracted from the flight_date column, and avg_delay â€“ the average delay in that year.

```
SELECT
  DATE_PART('year', flight_date) AS year,
  AVG(delay) as avg_delay
FROM flight
GROUP BY 1;
```

# Exercise
Find out how many aircraft were registered each week. Show two columns: week and count. The week column should have values like 2011-01-31 00:00:00.0.

```
SELECT
  DATE_TRUNC('week', registration_timestamp) AS week,
  COUNT(id) AS count
FROM aircraft
GROUP BY DATE_TRUNC('week', registration_timestamp);
```