In the next few lessons, we're going to learn about some commonly used SQL functions!

We're going to start with some basic PostgreSQL string functions. These will help you manipulate text values in your queries, and you'll learn how to:

- Concatenate (combine) multiple text values into one.
- Convert text to uppercase and lowercase.
- Convert text to display characters in reverse order.
- Select substrings and find their position in a string.
- Find the length of a string.
- Trim a string.
- Replace parts of a string.


We're going to be using `DB Fiddle` for this course. 

Navigate to: https://www.db-fiddle.com/

In the top right corner of the webpage, be sure to select `Database: PostgreSQL 13`

Now, in the `Schema SQL` pane on the left copy and paste the following, or just click this link here: https://www.db-fiddle.com/f/qXoBEtwVAPzRaN4UxWNjMm/1

```
CREATE TABLE IF NOT EXISTS "item" (
    "id" INT,
    "name" TEXT,
    "type" TEXT
);
INSERT INTO "item" VALUES
    (1,'WashPow(d)er','washing powder'),
    (2,'riVer Flow','non-alcoholic cocktail'),
    (3,'Vacum2000','vacuum cleaner'),
    (4,'TripCare','backpack'),
    (5,'Vacum2010',null);

CREATE TABLE IF NOT EXISTS "slogan" (
    "id" INT,
    "item_id" INT,
    "type" TEXT,
    "text" TEXT,
    "copywriter_id" INT
);
INSERT INTO "slogan" VALUES
    (1,1,'tv commercial','Feel the difference. Feel the powder.',3),
    (2,2,'tv commercial','Get enthusiastic - even without alcohol.',6),
    (3,3,'tv commercial','Cleaning the apartment is a matter of seconds.',8),
    (4,4,'tv commercial','You''ll simply love it.',4),
    (5,1,'Internet ad','Powderful experience.',2),
    (6,3,'Internet ad','Cleaning your house has never been so easy.',5),
    (7,2,'newspaper ad','Pleasure and responsibility come together.',7),
    (8,4,'newspaper ad','Each traveller''s choice.',1);
    
    CREATE TABLE IF NOT EXISTS "copywriter" (
    "id" INT,
    "first_name" TEXT,
    "last_name" TEXT
);
INSERT INTO "copywriter" VALUES
    (1,'Olivier','Norris'),
    (2,'Anne','Sharp'),
    (3,'Kate','Gordon'),
    (4,'Penelope','Stone'),
    (5,'Mark','Ratliff'),
    (6,'Alexander','Turner'),
    (7,'Angela','Bowen'),
    (8,'Patricia','Lawrence'),
    (9,null,'Lawrence');
```

# The concatenation || operator

Okay, let's begin. 

First, we'll need a new operator: `||`. 

These two vertical bars are the concatenation operator, i.e., they join two or more text values (or strings, which is another name for text). 

If you write the following:

```
SELECT first_name || last_name
FROM copywriter;
```


The result for first_name = 'Kate' and last_name = 'Gordon' will be KateGordon, all in a single column. Quite simple, right?

Of course we want the first and last name separated with a space. 

Here's how you do it:

```
SELECT first_name || ' ' || last_name
FROM copywriter;
```


Note that you use apostrophes for specific constant text values (a space in our example: ' '), but you don't use apostrophes for column names (first_name, last_name). 

The operator || can be used as many times as you need in a single query.

### Exercise

For each item, select its name, type, and in the third column named slogan_type both values joined by a dash ('-').

Observe that if the name or type is NULL, then the slogan_type is also NULL.

```
SELECT
  name,
  type,
  name || '-'  || type AS slogan_type
FROM item;
```

# The CONCAT() function

You can use the || operator to concatenate string values, but it is not the only way. 

PostgreSQL also provides the CONCAT() function. 

Here is how to use CONCAT() to join a slogan's id, type, and copywriter_id:

```
SELECT CONCAT(id, ' ', type, ' ', copywriter_id) AS slogan
FROM slogan;
```

Notice that we included spaces as constant values here as well.

### Exercise

For each item, show the following sentence:

`ID X is Y.`

Where X is the id of the item and Y is its name. Name the new column item_name.

```
SELECT CONCAT('ID ', id, ' is ', name, '.') AS item_name
FROM item;
```

# The || operator vs the CONCAT() function


You know two ways to concatenate values: the `||` operator and the `CONCAT()` function. 

What is the difference between them?

Think back to using the `||` operator. 

When there was a NULL value in one of the joining columns, what was returned? A NULL.

The `CONCAT()` function converts NULL to an empty string. Let's see this in an example. 

Remember, if any of the columns you work with can contain a NULL, use the CONCAT() function and not the || operator.

## Exercise

In this exercise, just look at the result.

You see Vacum2010 as the product name, although there was a NULL value in the type column.

```
SELECT
  name,
  type,
  CONCAT(name, type) AS product
FROM item;
```

## The LENGTH() function

Now that we know about concatenation, let's learn some string functions. We'll start with a simple one.

The `LENGTH()` function shows the length of a string column. For example:

```
SELECT
  first_name,
  LENGTH(first_name) AS len
FROM copywriter;
```

Suppose that first_name has a value of 'Anne'. `LENGTH()` will return 4 because 'Anne' has 4 letters. 

Simple, right?

### Exercise
Show the id, text, and string length for every slogan (text) in the slogan table. Name the last column len.

```
SELECT
  id,
  text,
  LENGTH(text) AS len
FROM slogan;
```

Remember, you are not limited to using the `LENGTH()` or other text functions in the SELECT clause only. 

You can use text functions in WHERE too! 

This allows you to select only rows with text of length greater or smaller than some value. For instance:

```
SELECT
  id,
  text
FROM slogan
WHERE LENGTH(text) > 45;
```

The above query will select only those slogans whose length is greater than 45 characters.

### Exercise
Show the IDs of all items with a name longer than 8 characters.

```
SELECT id
FROM item
WHERE LENGTH(name) > 8;
```

# The LOWER() and UPPER() functions

Let's move on to another text function: `LOWER()`.

Whatever is passed as an argument to LOWER() will be written in small (lowercase) letters:

```
SELECT LOWER(last_name) AS lower_name
FROM copywriter;

```
`LOWER()` returns 'turner' for 'Turner'.

If there is a function for lowercase letters, there must be a function for capital (uppercase) letters too. 

There is! 

It's called UPPER() and works in a similar way:

```
SELECT UPPER(last_name) AS upper_name
FROM copywriter;
```

UPPER() returns 'TURNER' for the last name 'Turner'.

Let's try this in an exercise!

## Exercise

The boss of the marketing agency said that it's very trendy to write Internet and newspaper ads in all lowercase letters. We don't want to reenter all of our slogans; let's use LOWER() instead.

For every slogan of the type 'newspaper ad' or 'Internet ad', show the slogan ID and its text in all lowercase. Name the last column trendy_slogan.

```
SELECT
  id,
  LOWER(text) AS trendy_slogan
FROM slogan
WHERE type IN ('Internet ad', 'newspaper ad');
```

# The INITCAP() function

Yet another function is `INITCAP()`, which will change the first letter of each word of text to upper case and the rest of the characters to lower. 

This is also called "title case". 

For instance, if someone mistakenly inserted first name as 'olivier' and last name with caps lock as 'sMITH', the query:

```
SELECT INITCAP(first_name || ' ' || last_name)
FROM copywriter;
```
will show 'Olivier Smith'. 

That's usually a convenient way to show names in a proper way.

### Exercise
The boss wants you to update the names of all the items so that they are title cased. Show the id of each item together with its original name (as old_name) and the new name (as new_name).

```
SELECT
  id,
  name AS old_name,
  INITCAP(name) AS new_name
FROM item;
```

# The LTRIM() and RTRIM() functions


Let's look at functions that remove leading or trailing spaces from a string.

One of these is `LTRIM()`. It removes the leading (left) spaces from a string.


`SELECT LTRIM(' Sophie ');`

This query returns 'Sophie '. The leading space was removed.

The `RTRIM()` function removes the trailing (right) spaces from a string. 

It works in a similar way:

`SELECT RTRIM(' Sophie ');`

This returns ' Sophie'. There is a leading space, but no trailing space.

### Exercise

Some of the item names in the item table have leading spaces. Show two columns:

- The item name.
- Prefix the value with 'No trim:' to see the leading spaces.
- Name the column before_ltrim.
- The item name without leading spaces.
- Prefix the value with 'Trim:' to make sure the spaces have been removed.
- Name the column after_ltrim.
- To add prefixes, use the concatenation operator.

```
SELECT
  'No trim:' || name        AS before_ltrim,
  'Trim:'    || LTRIM(name) AS after_ltrim
FROM item;
```

# The TRIM() function

You now know two functions that remove either leading or trailing spaces. 

Sometimes you need to remove both leading and trailing spaces. With PostgreSQL, you can do this with the `TRIM()` function. It only requires one parameter. 

Take a look:

`SELECT TRIM(' Martin Smith      from England   .   ');`

After calling this function, you get:

'Martin Smith      from England   .'


### Exercise

Remove all leading and trailing spaces from the item names in the item table. 

For each item, show the original item name (name the column before_trim) and the item name without leading and trailing spaces (name the column after_trim). 

In order to see the difference, put asterisks (*) on both sides of the value (using the concatenation operator).

```
SELECT
  '*' || name || '*' AS before_trim,
  '*' || TRIM(name) || '*' AS after_trim
FROM item;
```

# The SUBSTRING() function


The functions we've learned so far act on entire string values. 

We can also manipulate parts of strings, or even single letters. 

We'll start with the `SUBSTRING()` function. It looks like this:

`SUBSTRING(text FROM start FOR length)`

or the shorter form:

`SUBSTRING(text, start, length)`

Here's how you'd use it to select part of a string:

```
SELECT SUBSTRING(name, 5, 4) AS substring_name
FROM item;
```

The first parameter of `SUBSTRING()` is the given text (above, the name field). 

The second parameter tells the function where the substring should start. 

The indexing is 1-based (the first character in the string is available at index 1).

In the above example, we are asking the `SUBSTRING()` function to start the text fragment at the fifth character. 

The third parameter, length, indicates how many characters will be returned.

In this case, if the name is 'TripCare', the starting index is 5, and the length is 4, we'll get 'Care' as the result. 

The database will start at the fifth character, which is 'C', and return that character and the next three characters.

### Exercise

Show the full name of each item and its first four characters after trimming. Name the last column new_name.

```
SELECT
  name,
  SUBSTRING(TRIM(name), 1, 4) AS new_name
FROM item;
```

# The LEFT() and RIGHT() functions

You can now get a substring (part of a string) from a larger string. 

But what if you need a substring located at the beginning or end of the string? 

Of course you may use the combination of the `SUBSTRING()` and `LENGTH()`
functions but there are two other functions that let you do this easier: `LEFT()` and `RIGHT()`.

As you might guess, `LEFT()` takes the substring starting at the leftmost (leading) character, and `RIGHT()` starts from the final character and works backwards. 

All you need to specify is the string and how many characters you want to return:

```
SELECT RIGHT(name, 3)
FROM item;
```

In this case, `RIGHT()` returns the last three letters of an item's name.

## Exercise
The boss of the marketing agency would like to get the first letter of their first name and the last letter of their last name of all copywriters that have both of those names (i.e., both columns aren't NULL).

Name the columns first_letter and last_letter.

```
SELECT
  LEFT(first_name,1) AS first_letter,
  RIGHT(last_name,1) AS last_letter
FROM copywriter
WHERE first_name IS NOT NULL
  AND last_name  IS NOT NULL;
```

# The POSITION() function


There are times when you need to find a certain expression or set of characters in a string. 

Maybe you don't know what the whole string contains, but you know it has the letters 'br' in it somewhere. 

To find the index location of this string, use the `POSITION()` function. It has two parameters: the character string you want to find, the keyword IN, and the string or field to be searched. Here's an example:

`SELECT POSITION('br' IN 'abracadabra');`

The text 'abracadabra' starts with the letter 'a' (index position 1). The first occurrence of the string 'br' will be at index 2. 

The position returned by this POSITION() function is indeed 2.

A similar `POSITION(`) function is `STRPOS()` supported by PostgreSQL, but the arguments are in reverse order and without the keyword IN: first is a string to search in and second is a substring to search:

`SELECT STRPOS('abracadabra', 'br');`

This query returns 2.

### Exercise

In the item table, show the position of the letter 'r' in all item names. Name the column r_index.

Note that `POSITION()` returns 0 if the pattern is not present in the searched string.

```
SELECT POSITION('r' IN name) AS r_index
FROM item;
```

# The REVERSE() function

The next text function we'll try is `REVERSE()`. This takes a string as a parameter and returns its characters in reverse order.

Here we have a query that reverses the order of item names:

```
SELECT REVERSE(name)
FROM item;
```

As you can see, it's a pretty simple function to use.

## Exercise

The marketing agency is organizing a costume party for all the copywriters. Each copywriter will be given a name tag with their first name spelled backward.

Let's reverse the first name of each copywriter whose ID is less than five. Show the copywriter's real first name and their "reversed" first name as the nickname column.

```
SELECT
  first_name,
  REVERSE(first_name) AS nickname
FROM copywriter
WHERE id < 5;
```

# The REPLACE() function

You can also replace parts of a string with anything you want using the `REPLACE()` function. It works like this:

`REPLACE(string, substring_to_change, new_substring)`

This searches string and, if it finds the substring_to_change, replaces substring_to_change with the text in new_substring. Let's try it!

`SELECT REPLACE('young man', 'young', 'old');`

In the above example, the function will look for 'young' in the string 'young man' and will replace it with 'old'. As a result, we'll get 'old man'. Of course, you can provide a column name instead of an actual text.

Let's practice using this function!

## Exercise

For the slogan with an ID of 1, replace the word 'Feel' with 'Touch'. Show the slogan's original text and the updated text as the updated_text column.

```
SELECT
  text,
  REPLACE(text, 'Feel', 'Touch') AS updated_text
FROM slogan
WHERE id = 1;
```

# The TRANSLATE() function

PostgreSQL provides another function similar to `REPLACE()`. 

It's `TRANSLATE()`, and it looks like this:

`TRANSLATE(string_to_search, old_characters, new_characters)`

This function searches string_to_search, which can be an actual string or a field in the database, for the characters in old_characters. 

When it finds them, they're replaced with the corresponding characters in the new_characters. Here's how it looks:

```
SELECT
  id,
  text,
  TRANSLATE(text, ' .', '*!') AS translated_text
FROM slogan;
```

This will change the text of the slogans in the slogan table. The characters we're replacing are ` .` – spaces and periods. 

We want to translate them to `*!`: all spaces are replaced with the asterisks and all dots are replaced with the exclamation marks. 


### Exercise

The marketing boss wants to make some of the slogans more original by replacing exclamation marks (!) with periods (.) and spaces ( ) with underscores (_). 

Do this for copywriters with an ID of 1, 2, 3, or 4. 

Show the new slogan text and the first and last name of the copywriter. 

Name the first column new_slogan.

```
SELECT
  TRANSLATE(slogan.text, '! ' , '._') AS new_slogan,
  copywriter.first_name,
  copywriter.last_name
FROM slogan
JOIN copywriter
  ON copywriter.id = slogan.copywriter_id
WHERE copywriter.id IN (1,2,3,4);
```

# The REPEAT() function

The last function in this section is `REPEAT()`. It repeats a string (given in the first parameter) however many times specified by the second parameter. 

Here's an example:

```
SELECT REPEAT('.', 3) || name
FROM item;
```

This query returns the item name with three periods in front of it. Let's try this function out!

### Exercise

Slogans with multiple star and dot characters (e.g., SLOGAN *.*.*.*.*.) are fashionable this season. 

The marketing agency management has decided to change all slogans' texts to add at the end a space and a chain of five '.**.'. Name the column fashionable_text.

```
SELECT text || ' ' || REPEAT('.**.', 5) AS fashionable_text
FROM slogan;
```

#Summary


That's it for this section! Before we move on, let's review what we've learned:

- || is the concatenation operator. The || operator and the CONCAT() function are the concatenation functions. Both merge multiple strings into one.

- LENGTH(s) returns the length of a string.

- LOWER() and UPPER() functions change all letters in a string to lowercase or uppercase.

- INITCAP(t) changes the first letter of each word of string t to title case.

- LTRIM(s), RTRIM(s), and TRIM(s) return a string after removing spaces from the left, right, or both sides of a given string s.

- LTRIM(s, 'set'), RTRIM(s, 'set'), and TRIM(s, 'set') return a string after removing custom set of characters from the left, right, or both sides of a given string s.

- SUBSTRING(s, x, y) returns part of string s, starting from position x and returning the number of characters defined by y.

- LEFT(s, n) returns the first n characters as the substring from the left side (beginning of the string).

- RIGHT(s, n) returns the last n characters as the substring from the right side (end of the string).

- POSITION(c IN s) finds the first occurance (index) of string c in string s.

- STRPOS(s, c) does the same as the POSITION() function but has a different syntax.

- REVERSE() returns text with all the characters in reverse order.

- REPLACE(string, from, to) will replace from with to in the string string.

- TRANSLATE(string, from, to) will make replacements in string based on the sets passed as strings into the from and to parameters.

- REPEAT(x, n) will return the x string repeated n times.

# Exercise
Show the ID of each item, its name uppercased (as the upper_case column), and its reversed name (as the reversed column).

```
SELECT
  id,
  UPPER(name) AS upper_case,
  REVERSE(name) AS reversed
FROM item;
```

# Exercise

For each slogan longer than 20 characters, show a 20-character substring starting from the fifth position. Name the column sub_text.

```
SELECT SUBSTRING(text, 5, 20) AS sub_text
FROM slogan
WHERE LENGTH(text) > 20;
```

# Exercise

For each 'tv commercial' slogan, show the item name, its type, and the slogan with each period (.) replaced with three exclamation marks (!!!) as the explosive_text column.

```
SELECT
  item.name,
  item.type,
  REPLACE(text, '.', '!!!') AS explosive_text
FROM item
JOIN slogan
  ON item.id = slogan.item_id
WHERE slogan.type = 'tv commercial';
```